.App {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.App .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocationImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
