# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# python scripts
*.py

# python script results
clean_floorplans/
detected_buildings_debug.png
detected_buildings_fuzzy.json
detected_buildings.json
/floorplans
floorplan_lookup.json
floorplan_lookup.txt
manual_building_lookup.json
corrupted_pdfs.txt

# github
.github/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
