.Map img {
  cursor: pointer;
  width: 100%;
}

img h2 {
  display: relative;
  font-size: 1.5rem;
  margin: 0;
}

.Box {
  position: relative;
}

.InnerBox {
  top: 10px;
  left: 20px;
  position: absolute;
  background-color: red;
  translate: -50% -50%;
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

.ZoomControls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  background-color: #575757;
  padding: 5px;
  border-radius: 5px;
}

.ZoomControls button {
  background-color: rgb(203, 203, 203);
  border: none;
  border-radius: 5px;
  padding: 6px 8px;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.ZoomControls button:hover {
  background-color: rgb(139, 139, 139);
  transition-duration: 0.25s;
}
