@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  /* background-image: radial-gradient(
      1200px 600px at 10% 10%,
      rgba(148, 75, 255, 0.1),
      transparent 15%
    ),
    radial-gradient(
      900px 500px at 90% 80%,
      rgba(88, 35, 198, 0.08),
      transparent 18%
    ),
    linear-gradient(180deg, rgba(12, 10, 15, 0.92), rgba(18, 12, 30, 0.96)); */
  background-color: transparent;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html,
#__next {
  height: 100%;
}
/* html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #f2efe9;
} */

@font-face {
  font-family: 'Dangrek';
  src: url('/Dangrek/Dangrek-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Casko';
  src: url('/Casko/Casko Luxury/CaskoLuxury-Regular.woff') format('woff'),
       url('/Casko/Casko Luxury/CaskoLuxury-Regular.ttf') format('truetype'),
       url('/Casko/Casko Luxury/CaskoLuxury-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calista';
  src: url('/Calista/Calista.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Felgine';
  src: url('/Felgine/Felgine.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}